#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: .5rem;
  text-align: center;
}

/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

#main {
  padding: 2rem;
}

#content {
  text-align: left;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: red;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #fff;
}

